
.gradientThemeBg {
    background: rgb(73,167,237);
    background: linear-gradient(90deg, rgba(73,167,237,1) 0%, rgba(218,60,238,0.989233193277311) 100%);
}

.album-cover {
    width: 25%;
    border-radius: 50%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


@media only screen and (max-width:600px) {
    .album-cover {
        width: 70%;
    }
}